/*
 * Base structure
 */
html, body {
	height: 100%;
}

body {
	padding-top: 56px;
	padding-left: 0;
} 

/*
 * main layout
 */
.layout-main {
    display: flex;
    min-height: calc(100vh - 52px);
    overflow: hidden;
}

/*
 * Content
 */
.layout-content {
    width: 100%;
    padding-top: 0px;
}

.container {
	width: 100%;
	padding-top: 20px;
}

/*
 * Sidebar
 */
.sidebar {
    width: 0px;
    height: 100vh;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;    
    background-color: #f8f9fa;
    flex-shrink: 0;
    overflow: hidden;
    transition: width .5s;
}

.sidebar .nav {
	margin-bottom: 0px;
}

.sidebar .nav-item {
	width: 100%;
}

.sidebar .nav-item {
	margin-left: 0;
}

.sidebar .nav-link {
	border-radius: 0;
} 

.sidebar ul li:hover a, .menu ul li.active a{
    color: #777777;
}

.sidebar ul{
    list-style: none;
    padding: 10px 0px;
}

.sidebar ul li a{
    display: block;
    color:#1a1a1a;
    padding: 10px 15px;
    white-space: nowrap;
}

.sidebar.sidebar-open {
    width: 300px;
}

/*
 * nav-pills home
 */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: #fff;
	background-color: #1e94d2;
}

/*
 * toogle do navbar do menu
 */ 

.navbar-toggle {
    display: inline-block;
    margin-left: 10px;
}

/*
 * Footer
 */
.layout-footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	height: 50px;
	border-top: 1px solid #eeeeee;
}

.footer-copy {
	font-size: 92%;
	display: block;
	color: #777777;
	text-align: center;
}


.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 35%;
    padding-right: .75rem;
    padding-left: .75rem
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%
}

.border-left-primary-produto {
    border-left: .25rem solid #224abe !important
}

.border-left-primary-marca {
    border-left: .25rem solid #224abe !important
}

.border-left-primary-categoria {
    border-left: .25rem solid #1cc88a !important
}

.border-left-primary-funcionario {
    border-left: .25rem solid #1cc88a !important
}



.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: .35rem
}

.shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important
}

.h-100 {
    height: 100% !important
}

.pb-2, .py-2 {
    padding-bottom: .5rem !important
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -.75rem;
    margin-left: -.75rem
}

.no-gutters {
    margin-right: 0;
    margin-left: 0
}

.align-items-center {
    align-items: center !important
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%
}

.no-gutters > .col, .no-gutters > [class*=col-] {
    padding-right: 0;
    padding-left: 0
}

.text-xs {
    font-size: 16px;
}

.font-weight-bold {
    font-weight: 700 !important
}

.text-primary-produto {
    color: #224abe !important
}

.text-primary-marca {
    color: #224abe !important
}

.text-primary-categoria {
    color: #1cc88a !important
}

.text-primary-funcionario {
    color: #1cc88a !important
}



.dropdown .dropdown-menu .dropdown-header, .sidebar .sidebar-heading, .text-uppercase {
    text-transform: uppercase !important
}

.mb-1, .my-1 {
    margin-bottom: .25rem !important
}

.h5, h5 {
    font-size: 1.25rem
}

.font-weight-bold {
    font-weight: 700 !important
}

.text-gray-800 {
    color: #5a5c69 !important
}

.card-text:last-child {
    margin-bottom: 0;
    font-size: 15px;
}

.card-text2:last-child {
    margin-bottom: 0;
    font-size: 15px;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%
}

.text-gray-300 {
    color: #dddfeb !important
}